



.form_wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height:50px;
    padding-bottom: 10px;
}

.form{
    width: 400px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    margin-bottom: 1px;
}