.App {
    margin: 0 auto;
    width:400px;
}
.container{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.filter{
    display: flex;
    justify-content: space-between;
}
.group{
    align-items: center;
}
.btn{
    background-color: rgba(28,28,28,0);
    border: none;
}

.mg {
    margin-left: 40px;
    background-color: rgba(28,28,28,0);
    border: none;
}

.sec{
    opacity: 0.5;
    font-size: 12px;
    padding: 5px;
}

.clearButton{
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
}